<h>Iching Reading</h1>

<%= lines %>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <br>
<b>Your Question was:</b> <%= Ask.last["question"] %><br>
Your Iching reading will consist of 6 lines. Each line is create by flipping a coin 3 times. There are four possible results for each line "Pure Yin", "Pure Yang", "Changing Yin" or "Changing Yang". <br>
The six lines will form a hexagram which can take on one of 64 different forms. Each of the 64 hexagrams has a unique name and meaning.<br>
Here is your Iching hexagram:<br>
<b>Your hexagram number is
